body {
    align-items: center;
}

h1 {
    margin: 0px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #504f4f;
    display: inline-block;
    font-size: 140%;
    padding: 10px;
    transition: transform .1s;
    /* Animation */
    width: 150px;
    height: 10px;
    margin: 0 auto;
}

h1:hover {
    color: #2e2e2e;
    font-family: 'Comfortaa', cursive;
    transform: scale(1.5);
}

h3 {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #555454;
    font-size: 90%;
    padding-top: 10px;
    transition: transform .1s;
    /* Animation */
    width: 300px;
    height: 10px;
    text-align: center;
    display: inline-block;
}

h3:hover {
    color: #3b3b3b;
    font-family: 'Montserrat', sans-serif;
    transform: scale(1.5);
}

h4 {
    padding: 10px;
    color: rgb(151, 63, 63);
}

body {
    margin: 0px;
}

.top-container {
    background-color: rgb(160, 160, 160);
    box-sizing: 100%;
    margin: 0px;
}

img {
    align-items: center;
    width: 12%;
    height: 12%;
    display: inline-block;
}

.me {
    text-align: center;
    margin: 0px;
}

.cloud {
    text-align: right;
    margin: 0px;
    position: relative;
    left: 65%;
}

.cloud2 {
    text-align: right;
    margin: 0px;
    position: relative;
    right: 25%;
}

.myImg {
    padding: 20px;
    transition: transform .2s;
    /* Animation */
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin: 0px;
    position: relative;
    right: 6%;
}

.myImg:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.my-text {
    margin: 0px;
    text-align: center;
    margin: 0px;
}

.cloud3 {
    text-align: right;
    margin: 0px;
    position: relative;
    top: 100%;
    left: 75%;
    display: inline-block;
}

.land {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    display: inline-block;
}

.middle-container {
    padding: px;
    background-color: #eeeeee;
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.profile {
    padding: 100px;
}

.profile-img {
    padding: 20px;
    border-radius: 50%;
    transition: transform .2s;
    /* Animation */
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.profile-img:hover {
    transform: scale(1.5);
}

.intro {
    width: 40%;
    margin: auto;
}

.skills {
    width: 50%;
    margin: auto;
    text-align: left;
    padding: 80px;
}

.development {
    border-radius: 50%;
    padding: 20px;
    transition: transform .2s;
    /* Animation */
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
}

.development:hover {
    transform: scale(1.5);
}

.skills-text {
    margin: 0%;
    padding: 30px 0px 0px 20px;
    font-size: 15px;
}

.hobbies {
    width: 50%;
    margin: auto;
    text-align: left;
    padding: 80px;
}

.main-hobbies {
    border-radius: 50%;
    padding: 20px 20px 20px 20px;
    transition: transform .2s;
    /* Animation */
    width: 100px;
    height: 100px;
    margin: 0;
    float: right;
}

.main-hobbies:hover {
    transform: scale(1.5);
}

.hobbies-text {
    margin: 0%;
    padding: 30px 0px 0px 20px;
    font-size: 15px;
    width: auto;
}

.contact-me {
    padding: 100px;
    width: 30%;
    margin: auto;
}

.btn {
    background: #e05169;
    background-image: -webkit-linear-gradient(top, #e05169, #e05169);
    background-image: -moz-linear-gradient(top, #e05169, #e05169);
    background-image: -ms-linear-gradient(top, #e05169, #e05169);
    background-image: -o-linear-gradient(top, #e05169, #e05169);
    background-image: linear-gradient(to bottom, #e05169, #e05169);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #bd4f4f;
    text-decoration: none;
}

.bottom-container {
    padding: 150px;
    background-color: rgb(202, 179, 179);
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.footer {
    padding: 0px 20px 30px 20px;
}

.footer-link {
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
}

hr {
    border-style: dotted none none;
    border-color: #918e8e;
    border-width: 9px;
    width: 8%;
}

span {
    color: rgb(141, 45, 45);
}

#slider {
    overflow: hidden;
    border-radius: 50%;
    transition: transform .2s;
    /* Animation */
    width: 100px;
    height: 100px;
    margin: 20px;
}

#slider:hover {
    transform: scale(1.5);
}

#slider figure {
    position: relative;
    width: 500%;
    margin: auto;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.hello {
    color: rgb(95, 151, 151);
}

.devlop {
    font-size: large;
    color: rgb(95, 151, 151);
}

@media screen and (max-width: 1000px) {
    body {
        align-items: center;
    }
    h1 {
        margin: 0px;
        text-align: center;
        font-family: 'Comfortaa', cursive;
        color: #504f4f;
        display: inline-block;
        font-size: 80%;
        padding: 5px;
        transition: transform .1s;
        /* Animation */
        width: 100px;
        height: 5px;
        margin: 0 auto;
    }
    h1:hover {
        color: #2e2e2e;
        font-family: 'Comfortaa', cursive;
        transform: scale(1.5);
    }
    h3 {
        margin: 0px;
        font-family: 'Montserrat', sans-serif;
        color: #555454;
        font-size: 50%;
        padding-top: 5px;
        transition: transform .1s;
        /* Animation */
        width: 100px;
        height: 5px;
        text-align: center;
        display: inline-block;
    }
    h3:hover {
        color: #3b3b3b;
        font-family: 'Montserrat', sans-serif;
        transform: scale(1.5);
    }
    h4 {
        padding: 5px;
        color: rgb(151, 63, 63);
        font-size: 12px;
    }
    body {
        margin: 0px;
    }
    .top-container {
        background-color: rgb(160, 160, 160);
        box-sizing: 100%;
        margin: 0px;
    }
    img {
        align-items: center;
        width: 12%;
        height: 12%;
        display: inline-block;
    }
    .me {
        text-align: center;
        margin: 0px;
    }
    .cloud {
        padding-top: 50px;
        text-align: right;
        margin: 0px;
        position: relative;
        left: 65%;
        padding-bottom: 50px;
    }
    .cloud2 {
        text-align: right;
        margin: 0px;
        position: relative;
        right: 20%;
    }
    .myImg {
        padding: 0px 10px 0px 10px;
        transition: transform .2s;
        /* Animation */
        width: 80px;
        height: 80px;
        margin: 0 auto;
        position: relative;
        right: 7%;
    }
    .myImg:hover {
        transform: scale(1.5);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .my-text {
        margin: 0px;
        text-align: center;
        margin: 0px;
    }
    .cloud3 {
        text-align: right;
        margin: 0px;
        position: relative;
        top: 100%;
        left: 75%;
        display: inline-block;
        padding-top: 50px;
    }
    .land {
        text-align: center;
        padding-top: 115px;
        width: 100%;
        height: 100%;
        margin: 0px;
        display: inline-block;
    }
    .middle-container {
        padding: 10px;
        background-color: #eeeeee;
        margin: 0px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .profile {
        padding: 10px;
    }
    .profile-img {
        padding: 5px;
        border-radius: 50%;
        transition: transform .2s;
        /* Animation */
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }
    .profile-img:hover {
        transform: scale(1.5);
    }
    .intro {
        width: 40%;
        margin: auto;
        font-size: 10px;
    }
    .skills {
        width: 50%;
        margin: auto;
        text-align: center;
        padding: 80px;
    }
    .development {
        border-radius: 50%;
        padding: 10px 10px 10px 10px;
        transition: transform .2s;
        /* Animation */
        width: 80px;
        height: 80px;
        margin: 30px 0px 0px 0px;
        text-align: center;
    }
    .development:hover {
        transform: scale(1.5);
    }
    .skills-text {
        margin: 0%;
        padding: 10px 0px 0px 20px;
        font-size: 10px;
        text-align: left;
    }
    .hobbies {
        width: 50%;
        margin: auto;
        text-align: left;
        padding: 80px;
    }
    .main-hobbies {
        align-items: flex-start;
        border-radius: 50%;
        padding: 20px 20px 20px 20px;
        transition: transform .2s;
        /* Animation */
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }
    .main-hobbies:hover {
        transform: scale(1.5);
    }
    .hobbies-text {
        margin: 0%;
        padding: 30px 0px 0px 0px;
        font-size: 10px;
        width: auto;
    }
    .contact-me {
        padding: 40px;
        width: 70%;
        margin: auto;
    }
    .btn {
        background: #e05169;
        background-image: -webkit-linear-gradient(top, #e05169, #e05169);
        background-image: -moz-linear-gradient(top, #e05169, #e05169);
        background-image: -ms-linear-gradient(top, #e05169, #e05169);
        background-image: -o-linear-gradient(top, #e05169, #e05169);
        background-image: linear-gradient(to bottom, #e05169, #e05169);
        -webkit-border-radius: 9;
        -moz-border-radius: 9;
        border-radius: 9px;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 10px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }
    .btn:hover {
        background: #bd4f4f;
        text-decoration: none;
    }
    .bottom-container {
        padding: 70px;
        background-color: rgb(202, 179, 179);
        margin: 0px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .footer {
        padding: 0px 5px 10px 5px;
    }
    .footer-link {
        width: 20px;
        height: 20px;
        margin: 10px;
        border-radius: 50%;
    }
    hr {
        border-style: dotted none none;
        border-color: #918e8e;
        border-width: 9px;
        width: 8%;
    }
    span {
        color: rgb(141, 45, 45);
    }
    #slider {
        overflow: hidden;
        border-radius: 50%;
        transition: transform .2s;
        /* Animation */
        width: 80px;
        height: 80px;
        margin: 40px 40px 20px 40px;
    }
    #slider:hover {
        transform: scale(1.5);
    }
    #slider figure {
        position: relative;
        width: 500%;
        margin: auto;
        left: 0;
        animation: 20s slider infinite;
    }
    #slider figure img {
        width: 20%;
        float: left;
    }
    @keyframes slider {
        0% {
            left: 0;
        }
        20% {
            left: 0;
        }
        25% {
            left: -100%;
        }
        45% {
            left: -100%;
        }
        50% {
            left: -200%;
        }
        70% {
            left: -200%;
        }
        75% {
            left: -300%;
        }
        95% {
            left: -300%;
        }
        100% {
            left: -400%;
        }
    }
    .copy_rights {
        color: rgb(71, 101, 102);
        font-size: 10px;
    }
    .hello {
        color: rgb(95, 151, 151);
        font-size: medium;
    }
    .devlop {
        font-size: medium;
        color: rgb(95, 151, 151);
        text-align: left;
    }
    .my_skills {
        text-align: left;
        display: inline-block;
        position: relative;
        right: 17%;
    }
}